# C++ Build artifacts
build/
bin/
lib/
*.o
*.out
*.so
*.dylib
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# Python scripts and envs
__pycache__/
*.pyc
venv/
.venv/

# Datasets
datasets/

# IDEs and OS
.vscode/
.idea/
.DS_Store
